.cv-merk-wide {
    margin-bottom: 48px;
}

.title040-wide.mdl-card {
    min-height: auto;
    margin-bottom: 16px;
}

.larger-text040 > * {
    line-height: 28px;
    font-size: 18px;
}

.larger-text040 > h4 {
    font-size: 32px;
    line-height: 42px;
}

.mdl-button.larger-text040 {
    font-size: 18px;
}

.mdl-layout__header-row {
    height: 72px;
}

.mdl-layout--large-screen-only.mdl-layout__header-row {
    height: 12px;
}

.mdl-button--fab.install040 {
    position:absolute;
    right:80px;
    top: 48px;
}

.mdl-button--fab.install040.hidden040 {
    display: none;
}

.mdl-card.nominheight040 {
    min-height: auto;
}
